Repository D0nG4667/online-poll-system-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check-debug, django-check-migrations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        # Explicitly pass the settings module to mypy via env var logic isn't standard in pre-commit
        # efficiently, but django-stubs plugin reads from pyproject.toml which we updated.
        # We also need to ensure the hook runs in an env where django can be imported.
        args: ["--config-file=pyproject.toml"]
        additional_dependencies: [
          'django-stubs',
          'djangorestframework-stubs',
          'types-requests',
          'types-PyYAML',
          'types-python-dateutil',
          'celery',
          'django-redis',
          'django-environ',
          'sentry-sdk',
          'strawberry-graphql',
          'strawberry-graphql-django',
          'djangorestframework',
          'django-filter',
          'drf-spectacular',
          'django-cors-headers',
          'django-allauth',
          'django-anymail',
          'django-extensions',
          'psycopg[binary]',
          'shortuuid',
          'pyjwt',
          'langchain',
          'langchain-google-genai',
          'langchain-openai',
          'langchain-postgres',
          'pillow',
          'qrcode',
          'redis',
          'types-qrcode'
        ]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json|uv.lock

  - repo: local
    hooks:
      - id: django-check-debug
        name: Check DEBUG=True in production
        entry: uv run python scripts/check_debug.py
        language: system
        types: [python]
        files: config/settings/production.py
        pass_filenames: false

      - id: django-check-migrations
        name: Check Django Migrations
        # Use simple python execution to avoid uv/bash issues if env is active
        entry: uv run python manage.py makemigrations --check --dry-run
        language: system
        types: [python]
        pass_filenames: false

      - id: safety-check
        name: Safety Check (Vulnerabilities)
        entry: uv run python scripts/check_safety.py
        language: system
        pass_filenames: false

fix(ci): add whitenoise, mypy dependencies and update secrets baseline
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

fix(test): resolve flakey tests and secrets baseline
  .secrets.baseline
  pyproject.toml
  tests/analytics/test_services.py
  tests/conftest.py
  uv.lock
Due: django-check-migrations

fix(test): patch correct headless jwt setting and use PKCS8
  tests/conftest.py
Due: django-check-migrations

fix(ci): extract coverage report from docker container
  .github/workflows/ci.yml
Due: none

fix(security): upgrade django and cryptography, add codecov badge
  README.md
  uv.lock
Due: none

docs(erd): add comprehensive system-wide ERDs
  erd/ai.md
  erd/analytics.md
  erd/core.md
  erd/distribution.md
  erd/full-system.md
  erd/system.md
Due: none

docs: Plaude Poll Backend documentation
  docs/presentation_deck.md
  erd/full-system.md
Due: none

fix(api): normalize endpoints, refine url patterns and local settings
  apps/ai/urls.py
  apps/distribution/urls.py
  apps/polls/urls.py
  apps/users/urls.py
  config/settings/base.py
  config/settings/local.py
  config/urls.py
  tests/conftest.py
  tests/core/test_auth.py
  tests/integration/test_workflows.py
  tests/polls/test_pagination.py
Due: django-check-migrations

feat: automatically connect social account to local user via email
  config/settings/base.py
Due: django-check-migrations

fix(urls): restore trailing slashes to intermediate prefixes to fix concatenation
  config/urls.py
Due: django-check-migrations

chore(db): strengthen postgres resilience for serverless compute
  config/settings/production.py
Due: django-check-debug, django-check-migrations

fix(auth): update allauth settings to modern non-deprecated syntax
  config/settings/base.py
  config/settings/production.py
Due: django-check-debug, django-check-migrations

fix(auth): set SameSite=None for cross-domain session/csrf cookies
  config/settings/production.py
Due: django-check-debug, django-check-migrations

fix(auth): add production domain to ALLOWED_HOSTS and origins
  config/settings/production.py
Due: django-check-debug, django-check-migrations

feat(infra): automate site domain migration and superuser creation
  Dockerfile.render
  apps/core/migrations/0001_update_site_domain.py
  apps/core/migrations/__init__.py
  apps/users/management/commands/createsuperuser_if_none.py
  render.yaml
Due: django-check-migrations
